*{margin:0;
padding:0;
font-family: Josefin Sans;
}
body{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic.jpg);
background-size: cover; 
background-position: center;
height: 100vh;  
}

.logo img{
	float:left;
	width:100px;
	height:auto;
	margin-left:30px;  

}

ul{
float:right;
list-style-type: none;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:white;
	padding:5px 20px;
	border:1px solid; 
	transition: 0.5;
}
.menu{
max-width: 1450px;
margin-top: 30px;
}
ul li a:hover{ background-color:white;
color:black;          
}

.name{
position:absolute;
top:15%;
left:20%;
}
.name h1{
	color:white;
	font-size:50px; 
}

.name h3{
	color:white;
	font-size:25px; 
}
.name p{
	color:white;
	font-size:18px; 
}
.name h2{
	color:black;
	font-size:40px; 
}

.te img{
width:900px;
height: 600px; 
margin-top: 500px;  

}
footer{
	text-align: center;
	background-color: blue;
	color:white;
	bottom:0;
	padding:15px;
	width: 100%;
	position:fixed;  
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));   
}


